/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.search-news {
    display: flex;
    position: relative;
    max-width: 65%;
    padding-bottom: 6.5%;
    margin:auto;
}

.form-control {
    box-shadow: 0 10px 7px 0 #B0C1D9;
    display: block;
    width: 100%;
    height: 34px;
    padding: 1.2% 2.4%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.form-control::placeholder  {
    font-family: FontAwesome;
}

.news-block__item {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border: 1px dashed #ccc;
}

.news-block__title {
    margin-bottom: .5rem;
    word-break: break-all;
}

.news-block__image {
    display: flex;
    justify-content: center;
}

.news-block__image-image {
    width: 30%;
    height: 30%;
}

.news-block__tags {
    opacity: 0.5;
    font-size: 11px;
    word-break: break-all;
}

.news-block__text {
    word-break: break-all;
}

.news-block__author {
    text-align-last: end;
    font-size: 11px;
}

.pagination {
    justify-content: center;
}

.btn-danger {
    box-shadow: 0 10px 7px 0 #B0C1D9;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 10px 7px 0 #B0C1D9;
}

select > option:checked{
    box-shadow: 0 0 10px 100px #fff inset;
    outline:none;
}

.close {
  position: absolute;
  right: 3%;
  top: 2%;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}