<button onclick="document.getElementById('id02').style.display='block'">Sign Up</button>

<div id="id02" class="modal">
  
  <form class="modal-content animate">
    <span (click)="clearInput()" onclick="this.form.reset()" onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span>
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="first-name"><b>First name</b></label>
      <input type="text" autocomplete="off" placeholder="Enter first name" name="fname" [(ngModel)]="user.firstName" required>

      <label for="last-name"><b>Last name</b></label>
      <input type="text" autocomplete="off" placeholder="Enter last name" name="lname" [(ngModel)]="user.lastName" required>

      <label for="email"><b>Email</b></label>
      <input type="email" autocomplete="off" placeholder="Enter Email" name="email" [(ngModel)]="user.email"  required>

      <label for="password"><b>Password</b></label>
      <input type="password" autocomplete="off" placeholder="Enter Password" name="password" [(ngModel)]="user.password" required>

      <img [src]='imageUrl' style="width:30%; height:30%">
      <input #fileInput type="file" [(ngModel)]="fileInputValue"  (change)="selectImage($event)" (change)="handleFileInput($event)" class="file-upload" name="image" required>


      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div *ngIf="user.firstName == '' || user.lastName == '' || user.email == '' || user.password == '' || file == null;else buttonOk">
        <button type="submit" (click)="badInfo()" class="signupbtn" style="background-color:grey" >Sign Up</button>
      </div>

      <ng-template #buttonOk>
        <button type="submit" (click)="submit(user)" class="signupbtn" >Sign Up</button>
      </ng-template>
    </div>

    <div id="alert-bad-reg">
      <strong>Attention!</strong> Enter all user data!
    </div>
    
    <div id="alert-good-reg">
      <strong>Success!</strong> You will be logged in automatically! This window will close automatically.
    </div>

    <div id="alert-inv-reg">
      <strong>Warning!</strong> This email already in use.
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="clearInput()" onclick="this.form.reset()" onclick="document.getElementById('id02').style.display='none'" style="width:auto" class="cancelbtn">Cancel</button>
    </div>
  </form>
  
</div>


